

.central-top{
    display: grid;
    grid-template-columns: 80% 20%;
}
input[type=search]{
    width: 80%;
    border-radius: 18px;
}
.btn-light{
    border-radius: 15px;
}

.central-creation {
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-between;
}

.description-creation {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 15px;
}
.description-creation > figure > img {
   width: 100%;
   height: 231px;
   min-height: 100%;
   border: 10px double black;
   object-fit: cover;

    object-position: top;
}
figcaption {
    text-align: center;
}

