/*GENERAL */

@font-face {
    font-family: 'alex_brushregular';
    src: url('../font/alex-brush/alexbrush-regular-webfont.woff2') format('woff2'),
        url('../font/alex-brush/alexbrush-regular-webfont.woff') format('woff'),
        url('../font/alex-brush/alexbrush-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-75%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(75%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateX(0);
        
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

h1,
h2,
li {
    font-family: 'alex_brushregular', sans-serif;
}

h1 {
    font-size: 3vw;
}

figure:nth-child(odd) {
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
}

figure:nth-child(even) {
    animation: 0.7s ease-out 0s 1 slideInFromRight;
}

body {
    width: 80%;
    position: relative;
    height: 100%;
    margin: auto;
    display: grid;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/*BARRE DE RECHERCHE*/

.central-top {
    display: grid;
    grid-template-columns: 80% 20%;
}

/* LISTE STYLE */
aside > ul > li {
	list-style: none;
	font-size: 2vw;
	text-shadow: 0px 0px 0px black;
    transition: all 1s cubic-bezier(.76,.05,.86,.06);
}

aside>ul>li:hover {
    text-shadow: 15px 5px 10px black;
}

a:hover {
    text-decoration: none;
}


/* FOOTER */
footer {
    display: block;
    position: relative;
  
}

footer>ul {
    display: grid;
    grid-template-columns: repeat(6, 40px);
    list-style: none;
}

i {
    transition: all 0.5s ease-in-out;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-google:hover {
    color: #d62d20;
}


