.caroussel {
    width: 100%;
    height: 300px;
}

.w-100 {
    width: 100% !important;
    height: 300px;
    object-fit: cover;
}

nav {
    border-radius: unset !important;
}

/* CENTRAL */
.central {
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns: 70% 25%;
    justify-content: space-between;
}

.mamie {
    float: left;
    width: 40%;
    height: auto;
    /* padding: 2%; */
    clip-path: circle(46.77% at 50% 50%);
    shape-outside: circle(48.58% at 50% 50%);
}

article>p {
    padding: 2% 5% 2% 5%;
    text-align: justify;
}

h2 {
    display: grid;
    justify-content: center;
    font-size: 3vw;
}

.calendrier {
    display: grid;
    justify-content: center;

}

aside>input {
    text-align: center;
}

input[type="date"] {
    border: none;
}

.image {
    display: grid;
    justify-content: center;
}

aside>div>img {
    width: 200px;

}

aside>div>p {
    height: 300px;
    text-align: justify;
    overflow: scroll;
}