input[type=search] {
    width: 80%;
    border-radius: 18px;
}

.btn-light {
    border-radius: 15px;
}

.central-tuto {
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-between;

}

.niveau {
    height: 1330px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.description {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(4, 25%);
    grid-gap: 15px;
    justify-content: center;

}

.description>figure>img {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    border: 10px double black;
    object-fit: cover;
    object-position: left;
}

figcaption {
    text-align: center;
}

#facile,
#intermediaire,
#expert {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 31px;
}

/* #expert {
 margin-top: 28px; 
} */